body {
    font-family: Roboto, Arial, Helvetica, sans-serif
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero {
    background-color: #1f2937;
    display: flex;
}

.container {

}

.quote {
    background-color: #e5e7eb;
}

.call {
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
}

footer {
    background-color: #1f2937;
}

/*temp*/
div {
    padding: 30px;
}

header, 
footer,
.hero,
.call,
button {
    color: white;
}