body {
    font-family: Roboto, Arial, Helvetica, sans-serif
}

/*color*/
header,
footer,
.hero-bg {
    background-color: #1f2937;
}

.quote-bg {
    background-color: #e5e7eb;
}

button,
.call-box {
    background-color:#3882f6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    background-color: #1f2937;
    display: flex;
}


footer {
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*temp*/

header, 
footer,
.hero-bg,
.call-box,
button {
    color: white;
}