body {
    font-family: Roboto, Arial, Helvetica, sans-serif
}

header {
    background-color: #1f2937;
}

.hero {
    background-color: #1f2937;
}

.more {

}

.quote {
    background-color: #e5e7eb;
}

.call {

}

footer {
    background-color: #1f2937;
}